.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lang-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 30%;
  margin-top: 10px;
  height: 50px;

  background: #828181;
  mix-blend-mode: darken;
  border: 3px solid #ffffff;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  font-family: "Arial";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  font-variation-settings: "slnt" -1;
}
