.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 11px;
    gap: 10px;
    margin-top: 10px;
    margin-left: 15%;

    width: 70%;
    height: 70px;
    

    background: #2AADB6;
    mix-blend-mode: darken;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 657;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    font-variation-settings: 'slnt' -1;

    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}