.input {
    display: inline-block;
    margin-top: 30px;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px 8px 10px;
    gap: 10px;

    margin-left: 12%;
    width: 70%;
    height: 40px;


    background: #F4F4F4;
    mix-blend-mode: darken;
    border: 3px solid #F4F4F4;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;


    backdrop-filter: blur(2px);
}

::placeholder {
    color: #B5B5B5;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #B5B5B5;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #B5B5B5;
  }