.text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 530;
  font-size: 13px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.42);
}
